<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/styles/main.css" rel="stylesheet">
    <script src="/scripts/kurv.js"></script>

    <script>
        function opdaterMiniKurv() {
            let minikurv = document.querySelector('#minikurv');
            while (minikurv.hasChildNodes()) {
                minikurv.removeChild(minikurv.firstChild);
            }

            let kurv = Kurv.TagKurv();
            kurv.forEach(kaffe => {

                let navn = document.createElement('td');
                navn.textContent = kaffe.navn;

                let antal = document.createElement('td');
                antal.textContent = kaffe.antal;

                let pris = document.createElement('td');
                pris.setAttribute('style', 'text-align:right;');
                pris.textContent = kaffe.pris.toFixed(2);

                let total = document.createElement('td');
                total.setAttribute('style', 'text-align:right');
                total.textContent = (kaffe.pris * kaffe.antal).toFixed(2);

                let row = document.createElement('tr');
                row.appendChild(navn);
                row.appendChild(antal);
                row.appendChild(pris);
                row.appendChild(total);

                minikurv.appendChild(row);
            });

            if (kurv.length > 0) {
                let row = document.createElement('tr');
                let total = document.createElement('td');
                total.textContent = 'Samlet pris: ' + Kurv.Total.toFixed(2);
                row.appendChild(total);
                minikurv.appendChild(row);
            }
        }


    </script>
</head>


<body>
    <div id="wrapper">

        <header class="clearfix">
            <img src="billeder/logo.png" alt="kaffebil">
            <h1>Kitty CoffeeHouse</h1>
        </header>


        <main class="clearfix">
            <div id="content">
                <%- content %>
            </div>


            <aside class="clearfix">      
            <div class="login_knap">
                <a href="/login"><i class="fa fa-sign-in"></i></a>
            </div>

                <h3 class="kurv_overskrift">Indkøbskurv </h3>
                <div class="kurv_section">

                    <table id="minikurv"></table>

                    <button id="SletKurv" class="btn btn-xs btn-warning">Tøm</button>
                    <a href="/kurv" class="btn btn-xs btn-succes">Køb</a>
                </div>

          
            </aside>

        </main>

        <footer>
            <% (logo || []).forEach(element=>{%>
            <div class="footer_logo">
                <img src="/billeder/<%= element.footer_logo %>">
            </div>
            <% }) %>
        </footer>


        <script>

            document.querySelector('#SletKurv').addEventListener('click', (event) => {
                event.preventDefault();
                if (Kurv.Total > 0) {
                    if (confirm('Er du sikker på, du vil tømme kurven?')) {
                        Kurv.SletKurv();
                        opdaterMiniKurv();
                    }
                }
            })

            opdaterMiniKurv();

        </script>

    </div>
</body>

</html>