#wrapper{
    max-width:960px;
    height:auto;
    margin:0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  header{
    background-color:pink;
    padding-left:9%;
    padding-top:2%;
    margin-bottom:5%;
  }
header img{
    width:10%;
    height:auto;
    float:left;
    margin-right:2%;
}

header h1{
    float:left;
    font-family: 'Amatic SC', cursive;
    font-size:4rem;
    letter-spacing: 10px;
    
}

main img{
    width:50%;
    height:auto;
    display: block;
    margin:0 auto;

}

main{
    font-family: 'Amatic SC', cursive;
    font-size:1.5rem;
    letter-spacing: 3px;
    width:75%;
    height:auto;
    float:left;
}

aside{
    width:25%;
    height:auto;
    float:left;
    font-family: 'Amatic SC', cursive;
    font-size:1.5rem;
    letter-spacing: 3px;
}

main input{
    width:25px;
    height:25px;
    text-align: center;

}

main table{
    /* background-color: pink; */
    float:left;
   

}

main button{
    padding:1%;
    font-family: 'Amatic SC', cursive;
    font-size:1.5rem;
display:block;
margin:0 auto;
}